* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #D1A286;
    --pink: #BF8887;
    --magenta: #A07487;
    --purple: #796581;
    --violet: #505771;
    --black: #2F4858;
    --green: #2C7B53;
}

/* font-family: 'Montserrat',
sans-serif;
font-family: "Playfair Display",
serif; */

body {
    background: url(/assets/background\ \(2\).png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 80vw; */
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 2rem 0;
}

.left.image img{
    height: 50px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 800px;
    padding: 2rem;
}

.header{
    color: var(--violet);
    font-size: 3.75rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-container{
    display: flex;
    align-items: center;
}

.text{
    font-size: 1.25rem;
    color: var(--purple);
}

svg{
    width: 20rem;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1rem;
}

svg text{
    font-size: 5rem;
    stroke-width: 2;
    letter-spacing: -6px;
    font-family: 'Poppins', sans-serif;
}

svg text.text-body{
    stroke: var(--violet);
    animation: 4s infinite alternate animate-stroke;
}

svg text.dot{
    fill: var(--pink);
    stroke: var(--pink);
    animation: 4s infinite alternate animate-dot;
}

@keyframes animate-stroke {
    0%{
        fill: transparent;
        stroke: var(--violet);
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }

    50%{
        fill: transparent;
        stroke: var(--violet);
        stroke-width: 3;
    }

    80%,
    100%{
        fill: var(--violet);
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25;
        stroke-dasharray: 32% 0;
    }
}

@keyframes animate-dot {
    0%,
    60%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}