* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #D1A286;
    --pink: #BF8887;
    --white: #EEECDE;
    --magenta: #A07487;
    --purple: #796581;
    --violet: #505771;
    --black: #2F4858;
    --green: #2C7B53;
}

::selection{
    background-color: var(--white);
}
/* font-family: 'Montserrat',
sans-serif;
font-family: "Playfair Display",
serif; */

body:hover #custom-cursor{
    opacity: 1;
}

#custom-cursor{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--white);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: transform 500ms, opacity 200ms;
}

#custom-cursor::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: -8px;
    border: 1px solid var(--white);
    width: 16px;
    height: 16px;
  }
  
  #custom-cursor.zoom {
    transform: scale(3);
  }

html{
    animation: down .8s;
}

@keyframes down {
    from{
        transform: translateY(-100vh);
    }
    to{
        transform: translateY(0);
    }
}

body {
    background: url(/assets/background\ \(2\).png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 800px;
    padding: 2rem;
}

.header{
    color: var(--violet);
    font-size: 3.75rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.header:hover{
    transition: color 0.3s ease-in-out;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-container{
    display: flex;
    align-items: center;
}

.text{
    font-size: 1.25rem;
    color: var(--purple);
    font-weight: 500;
}

svg{
    width: 20rem;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1rem;
}

svg text{
    font-size: 5rem;
    stroke-width: 2;
    letter-spacing: -6px;
    font-family: 'Poppins', sans-serif;
}

svg text.text-body{
    stroke: var(--violet);
    animation: 4s infinite alternate animate-stroke;
}

svg text.dot{
    fill: var(--pink);
    stroke: var(--pink);
    animation: 4s infinite alternate animate-dot;
}

@keyframes animate-stroke {
    0%{
        fill: transparent;
        stroke: var(--violet);
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    
    50%{
        fill: transparent;
        stroke: var(--violet);
        stroke-width: 3;
    }
    
    80%,
    100%{
        fill: var(--violet);
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25;
        stroke-dasharray: 32% 0;
    }
}

@keyframes animate-dot {
    0%,
    60%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
    
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: top;
    text-align: center;
    z-index: 100;
    position: relative;
    /* padding: 1rem 0; */
}

.left{
    margin-top: 3rem;
    margin-left: 8rem;
}

.right{
    margin-top: 3rem;
    margin-right: 8rem;
}

.left.image img{
    height: 50px;
}

.left.image img:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    font-size: .875rem;
    transition: color .3s ease-in-out;
}


a:hover {
    color: var(--white);
}

.header-side-content{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header-side-content:last-child{
    justify-content: flex-end;
}

.button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#menu-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    position: relative;
    display: block;
}

.number{
    font-size: 1rem;
    padding-right: 0.5rem;
}

.last-item{
    display: flex;
    column-gap: 2rem;
}

#menu-container {
    position: absolute;
    inset: 0;
    background: url(/assets/background\ \(2\).png) no-repeat center center/cover;
    text-align: center;
    display: grid;
    place-content: center;
    z-index: 99;
    height: 0;
    transition: height .5s cubic-bezier(.14,.65,.15,1);
}

#menu-container a {
    display: inline-block;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1.75rem;
    position: relative;
    transition: color .5s ease-in-out;
    color: var(--violet);
    font-weight: 600;
}

#menu-container a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 6px;
    right: 0;
    background: var(--violet);
    transition: width .2s ease;
}

#menu-container a:hover:after{
    width: 100%;
    left: 0;
    background: var(--violet);
}

#menu-container li {
    opacity: 0;
    text-align: left;
    transition: opacity .2s ease-in-out;
    visibility: hidden;
}

:root[menu-open] #menu-container {
    height: 100vh;
}

:root[menu-open] #menu-container li {
    opacity: 1;
    visibility: visible;
}

:root[menu-open] #nav-social a {
    color: var(--violet);
}

:root[menu-open] #nav-social li::after  {
    background: url(/assets/background\ \(2\).png) no-repeat center center/cover;
}

#menu-button{
    display: flex;
    flex-direction: column;
    gap: 3.5px;
    width: 4.5rem;
    height: 4.5rem;
    align-items: center;
    justify-content: center;
}

#menu-button span{
    width: 40px;
    height: 4.5px;
    border-radius: 5px;
    background-color: var(--black);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, background-color .5s ease-in-out;
}

:root[menu-open] #menu-button span:nth-child(1){
    transform: translate3d(0,8px,0) rotate(45deg);
}

:root[menu-open] #menu-button span{
    background-color: var(--violet);
    z-index: 1000;
}

:root[menu-open] #menu-button span:nth-child(2){
    transform: scale(0);
    opacity: 0;
}

:root[menu-open] #menu-button span:nth-child(3){
    transform: translate3d(0,-8px,0) rotate(-45deg);
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
}

.links .link-1{
    text-align: center;
}

.links a{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    /* display: inline-block;  */
}

.links a img{
    margin-right: 0.5rem;
}

.links a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    bottom: -2px;
    margin-top: 6px;
    left: 0;
    background: var(--white);
    transition: width .2s ease;
}

.links a:hover:after{
    width: 100%;
    background: var(--white);
}

/* responsive design*/
@media (max-width: 1200px) {
    .header {
        font-size: 3rem;
    }

    svg {
        width: 18rem;
    }

    svg text {
        font-size: 4rem;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 1.5rem;
    }

    .header {
        font-size: 2.5rem;
    }

    svg {
        width: 16rem;
    }

    svg text {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
        column-gap: 1rem;
    }

    .container{
        margin-top: 7rem;
    }

    .content{
        flex-direction: column;
    }

    .header {
        font-size: 2rem;
    }

    svg {
        width: 14rem;
    }

    svg text {
        font-size: 3rem;
    }

    .links {
        flex-direction: column;
        row-gap: 1rem;
    }

    .links a {
        font-size: 0.875rem;
    }

    .left.image img {
        height: 40px;
    }

}

@media (max-width: 576px) {
    body:hover #custom-cursor{
        visibility: hidden;
        opacity: 0;
    }

    .container{
        margin-top: 7rem;
    }

    .content{
        flex-direction: column;
    }

    .header {
        font-size: 1.75rem;
    }

    svg {
        width: 12rem;
    }

    svg text {
        font-size: 5rem;
    }

    .links {
        column-gap: 1rem;
    }

    .links a {
        font-size: 0.75rem;
    }

    .left.image img {
        height: 30px;
    }
}

@media (max-width: 400px) {
    .container{
        margin-top: 7rem;
    }

    .header {
        font-size: 1.5rem;
    }

    svg {
        width: 10rem;
    }

    svg text {
        font-size: 2rem;
    }

    .links {
        column-gap: 0.5rem;
    }

    .links a {
        font-size: 0.625rem;
    }

    .left.image img {
        height: 25px;
    }
}