<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aayushi | About</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <main>
        <nav>
            <div class="left image">
                <img src="/assets/logo outline.png" alt="">
            </div>
            <!-- <div class="middle">about</div> -->
            <div class="right">
                <div class="header-side-content">
                    <button class="button" id="menu-button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>

                <div id="menu-container">
                    <ul class="unstyled">
                        <li><a href="/index.html"><span class="number">01</span>Home</a></li>
                        <li><a href="/layout/about.html"><span class="number">02</span>About</a></li>
                        <li><a href="/layout/projects.html"><span class="number">03</span>Projects</a></li>
                        <li><a href="/layout/contact.html"><span class="number">04</span>Contact</a></li>
                        <li>
                            <div class="last-item">
                                <span class="github">
                                    <a href="https://github.com/aayushiie" target="_blank"><img
                                            src="/assets/open-arrow.svg" alt="">GitHub</a>
                                </span>
                                <span class="blog">
                                    <a href="https://aayushiie.netlify.app/" target="_blank"><img
                                            src="/assets/open-arrow.svg" alt="">Blog</a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section>
            <div class="head">Aayushi Singh</div>
            <div class="divider"></div>
            <div class="brief">
                <p>It was in 2012 when I decided that I love technology. Currently pursuing a bachelor's degree in
                    computer
                    science, I'm still amazed by the world of computers. I enjoy experimenting in development, creative
                    coding, and designing. I have a blog where I primarily document my learning journey in the context
                    of
                    computer science.</p>
                <p>I also love writing poems and personal essays, often inspired by my journal named "warped window". I
                    worked as a personal essay writer for over a year at a digital magazine called Outlander.</p>
                <p>I am passionate about reading and learning from books. In July 2024, I started a reading club on
                    Instagram to promote awareness of social issues and diversity in reading. The aim is to introduce
                    short-form compositions to traditional book clubs, featuring a diverse range of writers.</p>
                <p>I'm also a fan of 80s indie music and love going on long walks, especially after a deep cleaning
                    session.
                </p>
            </div>
            <!-- <div class="aspirations">
            <h2>Aspirations</h2>
            <ul>
                <li>- to work towards gender equality and queer rights</li>
                <li>- publish a short story collection</li>
                <li>- work in the development of healthcare using AI</li>
            </ul>
        </div> -->

            <h2 class="skills">Skills</h2>
            <div class="columns">
                <div class="col-1">
                    <div class="heading">Technical</div>
                    <ul>
                        <li>
                            <div class="list-head">Web Development</div>
                            <ul>
                                <li>Git, HTML, CSS, SASS, Bootstrap, Web Motion Design, Responsive Design, JavaScript,
                                    jQuery, Node.js, React, Astro,
                                    MongoDB, TypeScript, API Integration, Debugging and Troubleshooting</li>
                            </ul>
                        </li>
                        <li>
                            <div class="list-head">Languages</div>
                            <ul>
                                <li>Python, C, Java</li>
                                <li>Familiar with Python within the context of Data Science</li>
                            </ul>
                        </li>
                        <li>
                            <div class="list-head">UI/UX</div>
                            <ul>
                                <li>Design Thinking, Wireframing, Prototyping, UX Research,
                                    Usability Testing</li>
                                <li>Tools: Figma, Sketch, Adobe Creative Suite
                            </ul>
                        <li>
                            <div class="list-head">Graphic Design</div>
                            <ul>
                                <li>Design Principles, Poster Design, Digital Illustration </li>
                            </ul>
                            <ul>
                                <li>Tools: Adobe Illustrator, Adobe Photoshop, Adobe InDesign, Canva, Microsoft
                                    PowerPoint
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="list-head">Writing</div>
                        </li>
                        <ul>
                            <li>Poetry, Fiction, Personal Essay</li>
                        </ul>
                    </ul>
                </div>

                <div class="col-2">
                    <div class="heading">Soft Skills</div>
                    <ul>
                        <li>Organisation</li>
                        <li>Problem-solving</li>
                        <li>Creativity</li>
                        <li>Teamwork</li>
                        <li>Emotional Intelligence</li>
                        <li>Attention to detail</li>
                        <li>Time Management</li>
                    </ul>
                </div>
            </div>

            <div class="bottom">
                <div class="bottom-left">
                    <h2>Interests</h2>
                    <h6>- Crochet</h6>
                    <h6>- Historical, Translated Fiction</h6>
                    <h6>- Gender Equality</h6>
                    <h6>- Climate Intersectionality</h6>
                    <h6>- Technology in Medical Problem-Solving</h6>
                    <h6>- Sustainable Technology</h6>
                </div>

                <div class="bottom-right">
                    <h2>Languages</h2>
                    <h6>- Hindi [Native]</h6>
                    <h6>- English [Fluent]</h6>
                    <h6>- Italian [Conversational]</h6>
                </div>
            </div>
            <div class="resume">
                <a href="" target="_blank"><img src="/assets/arrow down.svg" alt="">RESUME</a>
            </div>
        </section>
    </main>
    <div id="custom-cursor"></div>

    <script src="/javascript/about.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
</body>

</html>