<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aayushi | Contact</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <main>
        <nav>
            <div class="left image">
                <img src="/assets/logo outline.png" alt="">
            </div>
            <div class="right">
                <div class="header-side-content">
                    <button class="button" id="menu-button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>

                <div id="menu-container">
                    <ul class="unstyled">
                        <li><a href="/index.html"><span class="number">01</span>Home</a></li>
                        <li><a href="/layout/about.html"><span class="number">02</span>About</a></li>
                        <li><a href="/layout/projects.html"><span class="number">03</span>Projects</a></li>
                        <li><a href="/layout/contact.html"><span class="number">04</span>Contact</a></li>
                        <li>
                            <div class="last-item">
                                <span class="github">
                                    <a href="https://github.com/aayushiie" target="_blank"><img
                                            src="/assets/open-arrow.svg" alt="">GitHub</a>
                                </span>
                                <span class="blog">
                                    <a href="https://aayushiie.netlify.app/" target="_blank"><img
                                            src="/assets/open-arrow.svg" alt="">Blog</a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section>
            <div class="head">CONTACT</div>
            <div class="divider"></div>

            <div class="column">
                <div class="col-1">
                    <div class="name">MAIL</div>
                    <a href="mailto:aayushisingh067@gmail.com"><img src="/assets/icons/gmail.png" alt="">Gmail</a>
                </div>
                <div class="col-2">
                    <div class="name">SOCIAL</div>
                    <div class="media">
                        <a href="https://www.linkedin.com/in/aayushi-singh-883959308" target="_blank"><img src="/assets/icons/linkedin.png" alt="">LinkedIn</a>
                        <a href="https://github.com/aayushiie" target="_blank"><img src="/assets/icons/github.png" alt="">GitHub</a>
                        <!-- <a href="" target="_blank"><img src="/assets/icons/figma.png" alt="">Figma</a> -->
                        <a href="https://tumblr.com/aayushis?source=share" target="_blank"><img src="/assets/icons/tumblr.png" alt="">Tumblr</a>
                    </div>
                </div>
            </div>

            <div class="divider end"></div>

            <div class="copyright">
                <div>Designed and coded by Aayushi Singh &copy; 2024 Aayushi Singh</div>
            </div>
        </section>

    </main>
    <div id="custom-cursor"></div>

    <script src="/javascript/about.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
</body>

</html>