<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aayushi Singh</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

<body>
    <nav>
        <div class="left image">
            <img src="/assets/logo outline.png" alt="">
        </div>

        <div class="right"></div>
    </nav>

    <main>
        <div class="container">
            <div class="content">
                <span class="header">Hey, I'm</span>
                <span class="name-container">
                    <svg viewBox="0 0 400 160">
                        <text x="50%" y="50%" dy=".32em" text-anchor="middle" class="text-body">
                            Aayushi
                        </text>
                        <text x="50%" y="50%" dy=".32em" dx="2.1em" text-anchor="middle" class="text-body">
                            .
                        </text>
                    </svg>
                </span>
            </div>
            <div class="text">I'm a second year computer science engineering student.</div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
    <script src="/javascript/app.js"></script>
</body>

</html>