<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aayushi | Projects</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/whatsapp.css">
</head>

<body>
    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <main>
        <nav>
            <div class="left image">
                <img src="/assets/logo outline.png" alt="">
            </div>
            <div class="right">
                <div class="header-side-content">
                    <button class="button" id="menu-button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>

                <div id="menu-container">
                    <ul class="unstyled">
                        <li><a href="/index.html"><span class="number">01</span>Home</a></li>
                        <li><a href="/layout/about.html"><span class="number">02</span>About</a></li>
                        <li><a href="/layout/projects.html"><span class="number">03</span>Projects</a></li>
                        <li><a href="/layout/contact.html"><span class="number">04</span>Contact</a></li>
                        <li>
                            <div class="last-item">
                                <span class="github">
                                    <a href="https://github.com/aayushiie" target="_blank"><img
                                            src="/assets/open-arrow.svg" alt="">GitHub</a>
                                </span>
                                <span class="blog">
                                    <a href="#" target="_blank"><img
                                            src="/assets/open-arrow.svg" alt="">Blog</a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <figure>
            <div class="cover"></div>
        </figure>

        <section>
            <h2>WhatsApp Fact-Checker</h2>
            <div class="divider"></div>

            <div class="details">
                <div class="details-left">
                    <div class="big-box">
                        <div class="small-box">
                            <h4>Category</h4>
                            <h5>UI/UX</h5>
                        </div>
                        <div class="small-box">
                            <h4>Role</h4>
                            <h5>UX Researcher | UI Designer</h5>
                        </div>
                        <div class="small-box">
                            <h4>Tools</h4>
                            <h5>Figma | Adobe CC</h5>
                        </div>
                        <div class="figma">
                            <a href="https://www.figma.com/design/UimPOAIGJ6It6hn7CjcwiY/WhatsApp-Fact-Checking-Feature?node-id=0-1&t=f7E8J366lYwSFWJw-1"><img src="/assets/open-arrow.svg" alt="">view on figma</a>
                        </div>
                    </div>
                </div>

                <div class="details-right">
                    <p>WhatsApp is a popular messaging platform used by millions worldwide. With its growing user base,
                        there is an equivalent rise of fake news and misinformation. This project aims at verifying the
                        authenticity of news that is shared on the platform by integrating an AI-powered fact-checking
                        tool.</p>
                </div>
            </div>

            <div class="images">
                <img src="/assets/case study/case-study (1).jpg" alt="">
                <img src="/assets/case study/case-study (2).jpg" alt="">
                <img src="/assets/case study/case-study (3).jpg" alt="">
                <img src="/assets/case study/case-study (4).jpg" alt="">
                <img src="/assets/case study/case-study (5).jpg" alt="">
                <img src="/assets/case study/case-study (6).jpg" alt="">
                <img src="/assets/case study/case-study (7).jpg" alt="">
                <img src="/assets/case study/case-study (8).jpg" alt="">
                <img src="/assets/case study/case-study (9).jpg" alt="">
            </div>
        </section>

    </main>
    <div id="custom-cursor"></div>

    <script src="/javascript/project.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>

</body>

</html>