<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aayushi | Projects</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/css/writing.css">
</head>

<body>
  <div class="loader-container">
    <div class="loader"></div>
  </div>

  <main>
    <nav>
      <div class="left image">
        <img src="/assets/logo outline.png" alt="">
      </div>
      <div class="right">
        <div class="header-side-content">
          <button class="button" id="menu-button">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>

        <div id="menu-container">
          <ul class="unstyled">
            <li><a href="/index.html"><span class="number">01</span>Home</a></li>
            <li><a href="/layout/about.html"><span class="number">02</span>About</a></li>
            <li><a href="/layout/projects.html"><span class="number">03</span>Projects</a></li>
            <li><a href="/layout/contact.html"><span class="number">04</span>Contact</a></li>
            <li>
              <div class="last-item">
                <span class="github">
                  <a href="https://github.com/aayushiie" target="_blank"><img src="/assets/open-arrow.svg"
                      alt="">GitHub</a>
                </span>
                <span class="blog">
                  <a href="#" target="_blank"><img src="/assets/open-arrow.svg" alt="">Blog</a>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <h2>Personal Essay</h2>
      <div>
        <span class="post-number">01</span>
        <span class="post-title"><a href="https://outlanderzine.wordpress.com/2024/07/24/in-the-quiet-of-simple-things/" target="_blank">In the Quiet of Simple Things</a></span>
        <span class="year">- 2024</span>
      </div>

      <div>
        <span class="post-number">02</span>
        <span class="post-title"><a href="https://outlanderzine.wordpress.com/2023/11/25/somewhere-on-the-east-coast/" target="_blank">Somewhere on the East Coast</a></span>
        <span class="year">- 2023</span>
      </div>

      <div>
        <span class="post-number">03</span>
        <span class="post-title"><a href="https://outlanderzine.wordpress.com/2023/08/08/walking-on-sublime/" target="_blank">Walking on Sublime</a></span>
        <span class="year">- 2023</span>
      </div>

      <h2>Poetry</h2>
      <div>
        <span class="post-number">01</span>
        <span class="post-title"><a href="https://outlanderzine.wordpress.com/2024/04/24/t-to-s/" target="_blank">t to s</a></span>
        <span class="year">- 2024</span>
      </div>
      
      <div>
        <span class="post-number">02</span>
        <span class="post-title"><a href="https://outlanderzine.wordpress.com/2023/10/18/faded-fabrics/" target="_blank">Faded Fabrics</a></span>
        <span class="year">- 2023</span>
      </div>
      
      <div>
        <span class="post-number">03</span>
        <span class="post-title"><a href="https://outlanderzine.wordpress.com/2023/08/29/cinnamon-and-sugar/" target="_blank">Cinnamon and Sugar</a></span>
        <span class="year">- 2023</span>
      </div>
      
      <h2>Prose</h2>
      <div>
        <span class="post-number">01</span>
        <span class="post-title"><a href="https://outlanderzine.wordpress.com/2024/07/16/today-and-its-gone/" target="_blank">Today and It's Gone</a></span>
        <span class="year">- 2024</span>
      </div>
      
      <div>
        <span class="post-number">02</span>
        <span class="post-title"><a href="https://outlanderzine.wordpress.com/2023/08/27/pink-carnations/" target="_blank">Pink Carnations</a></span>
        <span class="year">- 2023</span>
      </div>

    </section>

  </main>
  <div id="custom-cursor"></div>

  <script src="/javascript/project.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
</body>

</html>